# Ambientes virtuais
venv/
.env/

# Cache do Python
__pycache__/
*.py[cod]
*.so

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configs locais do VSCode/IDE
.vscode/
*.log

# Arquivos gerados
*.xlsx
*.json

# Arquivo de inventário local (gerado em cada máquina)
Inventario_local_*.xlsx
inventario_*.json
